<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova.imagepicker.multiple"
        version="0.0.2">

  <name>Cordova Multiple Image Picker</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/imagepicker.js" name="imagePicker">
	  <clobbers target="plugins.imagePicker" />
  </js-module>

  <platform name="android">
	  <config-file target="config.xml" parent="/*">
		  <feature name="ImagePicker">
			  <param name="android-package" value="cordova.imagepicker.multiple.ImagePicker" />
		  </feature>
	  </config-file>
	  
	  <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
	  <source-file src="src/android/ImagePicker.java" target-dir="src/cordova/imagepicker/multiple/"/>

	  <!--<resource-file src="src/android/res/styles.xml" target-dir="res/values" />-->

	  <config-file target="AndroidManifest.xml" parent="/*">
		  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	  </config-file>
  </platform>

</plugin>
